<div class="container">
  <h1><%= @restaurant.name %></h1>
  <div class="row">Address: <%= @restaurant.address %></div>
  <div class="row">Phone: <%= @restaurant.phone_number %></div>
  <div class="row">Category: <%= @restaurant.category %></div>
  <h2>Reviews</h2>
  <% @reviews.each do |review| %>
    <div>Rating: <%= review.rating %></div>
    <div>Review: <%= review.content %></div>
  <% end %>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary"%>
  <h1>Write a review</h1>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit "Submit", class: "btn btn-danger" %>
  <% end %>
</div>
